<div fxLayout="row">
  <mat-card class="example-card" fxFlex="40" fxFlexOffset="10">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Atividades Principais</mat-card-title>
      <mat-card-subtitle>Avaliação Sinn</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list #atividades>
            <mat-list-option *ngFor="let tarefa of tarefas">
              {{tarefa}}
            </mat-list-option>
          </mat-selection-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="40" fxFlexOffset="10">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>API</mat-card-title>
      <mat-card-subtitle>Avaliação Sinn</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list #atividadeExtra>
            <mat-list-option *ngFor="let extra of extras">
              {{extra}}
            </mat-list-option>
          </mat-selection-list>
    </mat-card-content>
  </mat-card>


</div>
