$primary: (
    50 : #f4e6e8,
    100 : #e4c1c6,
    200 : #d298a0,
    300 : #c06e7a,
    400 : #b75966,
    500 : #a53041,
    600 : #9d2b3b,
    700 : #932432,
    800 : #8a1e2a,
    900 : #842634,
    A100 : #ffaeb4,
    A200 : #ff7b85,
    A400 : #ff4855,
    A700 : #ff2f3e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #ffffff,
    100 : #fce7c6,
    200 : #f9d190,
    300 : #f6b44c,
    400 : #f4a82f,
    500 : #f39c12,
    600 : #db8b0b,
    700 : #be780a,
    800 : #a16608,
    900 : #845307,
    A100 : #ffffff,
    A200 : #ffda9f,
    A400 : #ffb239,
    A700 : #faa725,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
